/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*pointer-events: none;*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/*selection*/
::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

/*main*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    z-index: 1;
}

.wrapper {
    position: relative;
    width: 996px;
    margin: 0 auto;
}

h1 {
    position: relative;
    float: left;
}

#search {
    position: relative;
    float: right;
    margin-top: 10px;
}

#search input[type="text"] {
    background: #000;
    border: 0 none;
    font-size: 12px;
    font-style: italic;
    color: #fff;
    width: 150px;
    padding: 3px 3px 3px 10px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    background: #ccc;
    color: #000;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
}

#caddy {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-left: 8px;
    width: 30px;
    height: 25px;
    background: url(../img/caddy.jpg) no-repeat center;

    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#caddy:hover {
    opacity: .4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    cursor: pointer;
}

#caddyCount {
    display: none;
    position: absolute;
    left: 6px;
    top: 2px;
    width: 13px;
    height: 13px;
    background-color: #000;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

    padding-top: 2px;
    padding-right: 2px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
}

.caddy-over {
    position: absolute;
    top: 0;
    left: 17px;
    width: 16px;
    height: 13px;
    background: #000 url(../img/caddyOver.jpg) no-repeat center;

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.7s ease 0s;
}

nav {
    position: relative;
    clear: both;
    width: 100%;
    height: 22px;
    padding-top: 20px;
    background: url(../img/border.jpg) repeat-x bottom;
}

nav ul {
    height: 29px;
    background: url(../img/menu_selected.png) no-repeat 0 17px;
}

nav .ul-ease {
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

nav li {
    position: relative;
    float: left;
    margin-right: 20px;
}

nav li a {
    font-family: "Oxygen", serif;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    color: #999;
}

#page {
    width: 100%;
    margin-top: 110px;
}

#banner {
    height: 280px;
}

.pattern {
    position: relative;
    top: 3px;
    left: -15px;
    width: 100%;
    height: 276px;
}

.ptn {
    filter: alpha(opacity=0);
    opacity: 0;
}

#content {
    /*border-top: 1px solid #000;*/
}

#shoppingCart {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #fff;

    -moz-box-shadow: 0 0 5px 2px #999;
    -webkit-box-shadow: 0 0 5px 2px #999;
    box-shadow: 0 0 5px 2px #999;
}

#orderForm {
    position: relative;
    opacity: 0;
    width: 600px;
    height: 400px;
    background-color: #fff;

    -moz-box-shadow: 0 0 5px 2px #999;
    -webkit-box-shadow: 0 0 5px 2px #999;
    box-shadow: 0 0 5px 2px #999;
}

.cart-title {
    position: relative;
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #000;
    color: #000;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 11px;
    width: 11px;
    background: url(../img/close.png) no-repeat;

    filter: alpha(opacity=60);
    opacity: 0.6;

    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.close:hover {
    filter: alpha(opacity=100);
    opacity: 1;
    cursor: pointer;
}

#cartItems {
    position: relative;
    top: 1px;
    width: 500px;
    height: 206px;
    border-top: 1px solid #000;
    margin: 0 auto;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-item {
    position: relative;
    float: left;
    width: 500px;
    height: 23px;
    padding-top: 5px;
}

.item-title {
    position: relative;
    float: left;
    width: 55px;
    height: 13px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding-top: 1px;

    background-color: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;

    cursor: default;
}

.points {
    position: relative;
    float: left;
    top: -3px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
    font-weight: 700;
    color: #ccc;
}

.item-picker {
    position: absolute;
    top: 2px;
    right: 261px;
    float: left;
    cursor: pointer;
}

.item-color {
    z-index: 3;
    position: relative;
    float: left;
    opacity: 0;
    margin-right: 2px;
    display: none;
    width: 10px;
    height: 10px;
    border: 4px solid rgba(0, 0, 0, .6);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.item-color:hover {
    border: 4px solid rgba(0, 0, 0, 1);
    cursor: pointer;
}

.item-color-mini {
    width: 10px;
    height: 10px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
}

.item-sizez {
    position: relative;
    float: left;
    width: 23px;
    height: 13px;
    font-size: 10px;
    color: #fff;
    padding-left: 5px;
    background: #000 url(../img/arrow.png) no-repeat 15px 4px;
    filter: alpha(opacity=60);
    opacity: 0.6;
    padding-top: 1px;

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

}

.item-sizez:hover {
    filter: alpha(opacity=100);
    opacity: 1;
    cursor: pointer;
}

.item-size {
    display: none;
    height: 10px;
    width: 23px;
    /*cursor: default;*/
}

.item-q-container {
    position: relative;
    z-index: 3;
    float: left;
    width: 23px;
    height: 13px;
    font-size: 11px;
    color: #fff;
    padding-left: 5px;
    background: #000 url(../img/arrow.png) no-repeat 15px 4px;
    filter: alpha(opacity=60);
    opacity: 0.6;
    padding-top: 1px;

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

}

.item-q-container:hover {
    filter: alpha(opacity=100);
    opacity: 1;
    cursor: pointer;
}

.item-q {
    display: none;
    height: 10px;
    width: 23px;
    /*cursor: default;*/
}

.item-price {
    position: relative;
    float: left;
    width: 50px;
    height: 13px;
    overflow: hidden;
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    cursor: default;

    background-color: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;
}

.item-delete {
    position: relative;
    float: left;
    margin-left: 3px;
    top: 1px;
    height: 11px;
    width: 11px;
    background: url(../img/close.png) no-repeat;

    filter: alpha(opacity=60);
    opacity: 0.6;

    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.item-delete:hover {
    filter: alpha(opacity=100);
    opacity: 1;
    cursor: pointer;
}

.cart-bottom {
    position: absolute;
    bottom: 30px;
    left: 50px;
    width: 500px;
}

.cart-info {
    position: relative;
    top: -1px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 10px;
    color: #999;
}

.cart-bottom-border {
    border-top: 3px solid #000;
}

#cartTotal {
    position: relative;
    float: left;
    /*border-top: 3px solid #000;*/
    padding-top: 5px;
    padding-right: 5px;
    font-size: 13px;
    color: #000;
    font-weight: 700;
    text-align: left;
}

#clientData {
    position: relative;
    top: 1px;
    width: 500px;
    border-top: 1px solid #000;
    margin: 0 auto;
    padding-top: 10px;
    color: #000;
}

.next {
    position: relative;
    float: right;
    margin-top: 5px;
    width: 60px;
    height: 13px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding-top: 1px;

    background-color: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.next:hover {
    cursor: pointer;
}

.prev {
    position: relative;
    float: left;
    margin-top: 5px;
    width: 60px;
    height: 13px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding-top: 2px;

    background-color: #000;
    filter: alpha(opacity=60);
    opacity: 0.6;

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -khtml-border-radius: 13px;
    border-radius: 13px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.prev:hover {
    filter: alpha(opacity=100);
    opacity: 1;
    cursor: pointer;
}

#clientData {
    position: relative;
    top: 1px;
    width: 500px;
    border-top: 1px solid #000;
    margin: 0 auto;
    padding-top: 10px;
    color: #000;
}

#field input[type="text"] {
    background: #000;
    border: 0 none;
    font-size: 11px;
    height: 13px;
    font-style: italic;
    color: #fff;
    width: 250px;
    padding: 3px 3px 3px 10px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    opacity: .6;
    filter: alpha(opacity=60);

    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#field input[type="text"]:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.input_field {
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-left: 100px;
}

footer {
    font-size: 11px;
    position: absolute;
    width: 100%;
}

#links {
    border-top: 3px solid #000;
    padding-top: 3px;
    margin-top: 1px;
}

#contact {
    position: relative;
    float: left;
}

#contact a {
    color: #696969;
    text-decoration: none;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

}

#contact a:hover {
    color: #000;
}

#copy {
    position: relative;
    float: right;
    color: #696969;
    cursor: default;
}

/* over pages */
#cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    display: none;
    overflow: hidden;
    -ms-overflow: hidden; /*IE8*/
}

#detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    display: none;
    overflow: hidden;
    -ms-overflow: hidden; /*IE8*/
    color: #000;
}

/* jssor slider arrow navigator skin 15 css */
/*
.jssora15l              (normal)
.jssora15r              (normal)
.jssora15l:hover        (normal mouseover)
.jssora15r:hover        (normal mouseover)
.jssora15ldn            (mousedown)
.jssora15rdn            (mousedown)
*/
.jssora15l, .jssora15r, .jssora15ldn, .jssora15rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a15.png) no-repeat;
    overflow: hidden;
}

.jssora15l {
    background-position: -20px -41px;
}

.jssora15r {
    background-position: -80px -41px;
}

.jssora15l:hover {
    background-position: -140px -41px;
}

.jssora15r:hover {
    background-position: -200px -41px;
}

.jssora15ldn {
    background-position: -260px -41px;
}

.jssora15rdn {
    background-position: -320px -41px;
}